<div class="container">
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search Recipes" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <h1>Dashboard</h1>

    <h2>Favorite Recipes</h2>
{{#if recipes.length}}
  <section>
    <ul>
      {{#each recipes}}
      {{> recipes/recipe-card }}
        {{!-- <li>
          <article class="post">
            <div class="title">
              
                <h2>{{title}}</h2>
          <ul>
            <li>link {{summary}}</li>
            <li>cooks in {{cook_time}} minutes</li>
            <li>serves: {{servings}}</li>
            <li>{{nutrition}}</li>
          </ul>    
          </article>
          
        </li> --}}

      {{/each}}
    </ul>
  </section>
{{/if}}

    <h2> Link to calendar</h2>

</div>