<div class="container">
  <h1>All Of Our Recipes</h1>

  <ul>
    {{#each data}}
      <li>
        <p>Class: {{class}}</p>
        <p>Title: {{recipes.title}}</p>
        <p>Nutrition: {{recipes.nutrition}}</p>
        <p>Recipe: {{recipes.summary}}</p>
        <p>Servings: {{recipes.servings}}</p>
        <p>Cook Time: {{recipes.cook_time}}</p>
      </li>
    {{/each}}
  </ul>
</div>

{{> recipes/recipe-card data}}



</div>