<div class="card" style="width: 18rem;">
  <img src="{{image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{summary}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Nutrition: {{nutrition.caloricBreakdown}}</li>
    <li class="list-group-item">Servings: {{servings}}</li>
    <li class="list-group-item">Ready in: {{readyInMinutes}} minutes</li>
  </ul>
  <div class="card-body">
    <a href="{{sourceUrl}}" class="card-link">Click Here for Recipe</a>
  </div>
</div>

