<div class="card recipe-card col-5" style="width: 18rem;">
  <h5 class="title" id="{{id}}">{{title}}</h5>
  <img src="{{image}}" alt="..." />

  <li class="list-group-item">Nutrition: {{nutrition}}</li>
  <li class="list-group-item">Servings: {{servings}}</li>
  <li class="list-group-item time">Ready in: {{cook_time}} minutes</li>

  <div class="ingredients">
    Ingredients:
    {{ingred}}
  </div>

  <a href="{{summary}}" target="_blank" class="card-link">Click Here for Recipe</a>
  <button class="btn btn-outline-danger delete-post-btn" type="button">Remove
    From Favorites
  </button>
  <button class="addCal btn btn-outline-success" type="button">Add to Calendar</button>
  <div id="calInfo{{id}}" style="display: none;">
    <p>
      Meal type
      <select name="meal" id="meal{{id}}">
        <option value="breakfast">breakfast</option>
        <option value="lunch">lunch</option>
        <option value="dinner">dinner</option>
        <option value="dessert">dessert</option>
      </select>
    </p>
    <p>Date: <input type="text" id="datepicker{{id}}" /></p>
    <button class="date">Select</button>
  </div>

</div>