

<div class="card recipe-card col-5 " style="width: 18rem;">
  <h5 class="title">{{title}}</h5>
  <img src="{{image}}" alt="...">

  <li class="list-group-item">Nutrition: {{nutrition}}</li>
  <li class="list-group-item">Servings: {{servings}}</li>
  <li class="list-group-item">Ready in: {{cook_time}} minutes</li>

  <div class="ingredients">
    Ingredients: {{ingred}}
  </div>

  <a href="{{summary}}" target="_blank" class="card-link">Click Here for Recipe</a>
  <button class="btn btn-outline-danger delete-post-btn" type="button">Remove From Favorites</button>

</div>




